
# tensorflow >= 2.0.0 # (should be installed manually)

py-params @ git+https://github.com/dillonarcuity/py-params.git@master#egg=py-params
params-flow @ git+https://github.com/dillonarcuity/params-flow.git@master
